Lets begin by importing the csv file with the company name list

In [1]:
import pandas as pd


#establish path
pathToFDAList='/home/dnb3k/Downloads/NDC_Company_Dataset.xls'

#load it
fdaCompanyList=pd.read_excel(pathToFDAList)

fdaCompanyList=fdaCompanyList.rename(columns={'Row Labels': 'company'})
fdaCompanyList=fdaCompanyList.astype(str)

#view what we loaded
fdaCompanyList.head(30)

                          company
0                        19750101
1                        20090901
2                        20141217
3                        20150301
4                        20150801
5                        20160601
6                        20161012
7                        20161026
8                        20181130
9                        20190501
10                       20190503
11                       20190504
12                       20190507
13                       20190509
14                       20190510
15                       20190511
16                       20190514
17                       20190515
18                       20190517
19                       20190520
20                       20190521
21                       20190522
22                       20210214
23                      101196749
24                     3014704014
25             SPIRONOLACTONE 2%
26      -L'Oreal USA Products Inc
27               .Cardinal Health
28   .Church & Dwight Canada Corp
29  {Preferred Pharmaeutials INC.

Now that we have taken a quick look at it, lets look at the unique subtokens (i.e. "words" that are found in these entries.  We'll use a strategy adopted in a previous notebook

In [2]:
#cat all the row entries into one long string
longString=fdaCompanyList['company'].str.cat(sep=' ')

#separate each "word" (space separated token) into a extremely long list
longStringSeparated=longString.split(' ')

#turn it into a dataframe
uniqueSubTokenFrame=pd.DataFrame(longStringSeparated)

#get the count on that column, this tells us the frequency of those unique tokens
columnUniqueCounts=uniqueSubTokenFrame.iloc[:,0].value_counts()

#convert that output to a proper table
tableUniqueCounts=columnUniqueCounts.reset_index()
tableUniqueCounts.rename(columns={0:"count","index":"token"},inplace=True)

print(tableUniqueCounts.shape)
print('number of unique string tokens in this dataset')

tableUniqueCounts.head(20)

(7418, 2)
number of unique string tokens in this dataset

               token  count
0               Inc.   1636
1                LLC   1168
2                Inc    651
3               Co.,    295
4            Medical    290
5    Pharmaceuticals    279
6               Ltd.    269
7   Pharmaceuticals,    242
8                  &    203
9           Products    168
10           Company    159
11       Corporation    150
12            Supply    147
13               Ltd    145
14            Health    141
15              INC.    135
16            Pharma    131
17               dba    127
18    Pharmaceutical    115
19      Laboratories    107

As we can see there are a number of very common legal entity substrings which could be leading to some confusion as we try and merge and de-duplcate this data set (ie. rows 0, 1, 2, 3, 6, 10, 11, 13, 15, 17 -- That's half!).  Lets apply a tried and true method for removing these

In [3]:
import os
#infer directory structure from location of ossPyFuncs file.  Open to suggestions on how to do this better.
currentDir='/home/dnb3k/git/dspg20oss/ossPy'

os.chdir(currentDir)

import ossPyFuncs

#construct path to legal entity list
LElist=pd.read_csv(os.path.join(currentDir,'keyFiles/curatedLegalEntitesRaw.csv'),quotechar="'",header=None)

#perform the erasure
LEoutput, LEeraseList=ossPyFuncs.eraseFromColumn(fdaCompanyList['company'],LElist)

#format the output
LEoutput=pd.DataFrame(LEoutput)
LEeraseList=LEeraseList.sort_values(by='changeNum',ascending=False)
#view some of the output statistics
LEeraseList.head(30)

/apps/software/standard/core/anaconda/2019.10-py3.7/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,0,changeNum,changeIndexes
0,(?i) Inc\b,2574,"[26, 29, 30, 33, 38, 43, 44, 52, 57, 58, 59, 6..."
2,(?i) LLC\b,1284,"[34, 41, 48, 50, 53, 55, 61, 74, 75, 79, 80, 8..."
332,(?i) co\b,605,"[64, 71, 92, 95, 113, 142, 143, 152, 183, 206,..."
1,(?i) Ltd\b,532,"[60, 85, 86, 95, 99, 138, 152, 183, 200, 212, ..."
7,(?i) Company\b,236,"[45, 66, 68, 124, 184, 382, 397, 401, 402, 406..."
135,(?i) DBA\b,187,"[87, 88, 89, 114, 144, 161, 179, 186, 239, 256..."
4,(?i) Corporation\b,173,"[39, 129, 148, 165, 211, 348, 362, 413, 417, 4..."
10,(?i) Corp\b,120,"[28, 63, 127, 128, 187, 309, 389, 416, 457, 70..."
5,(?i) Limited\b,119,"[124, 160, 243, 258, 276, 278, 293, 442, 452, ..."
67,(?i) Incorporated\b,29,"[70, 913, 914, 921, 1099, 1332, 1359, 1626, 19..."
16,(?i) PTY\b,25,"[671, 761, 894, 904, 931, 1035, 1291, 1292, 19..."
3,(?i) GmbH\b,23,"[935, 1186, 1744, 2497, 2561, 2717, 2778, 2855..."
55,(?i) LP\b,18,"[225, 696, 803, 1627, 1673, 2639, 2726, 3081, ..."
106,(?i) L\.L\.C\b,13,"[2132, 2189, 2190, 2314, 2436, 2666, 2805, 353..."
20,(?i) SRL\b,12,"[203, 1085, 2416, 2697, 3180, 3191, 3638, 3639..."
28,(?i) SA\b,11,"[1658, 1834, 2670, 3646, 3702, 3757, 4274, 430..."
6,(?i) AG\b,9,"[1095, 1725, 1743, 1745, 1751, 2220, 5442, 551..."
11,(?i) AS\b,6,"[1882, 1883, 1884, 1885, 2498, 4040]"
329,(?i)pvt\.,6,"[86, 2986, 2987, 3396, 5794, 5877]"
61,(?i) SPA\b,6,"[1705, 2803, 3258, 3721, 5673, 6109]"
38,(?i) s\.p\.\b,5,"[1814, 2016, 3318, 3504, 5036]"
37,(?i) SAS\b,5,"[949, 3720, 3844, 5195, 5836]"
36,(?i) ApS\b,5,"[4663, 5851, 5926, 6936, 6939]"
89,(?i) CV\b,5,"[342, 1834, 3702, 4305, 5162]"
65,(?i) Bhd\b,5,"[2332, 3829, 5324, 5797, 6343]"
12,(?i) S\.A\.\b,4,"[49, 1633, 1634, 6247]"
90,(?i) SC\b,3,"[3666, 4500, 4501]"
101,(?i) SARL\b,3,"[3629, 3630, 4779]"
128,(?i) PS\b,3,"[1199, 5817, 6981]"
139,(?i) II\b,3,"[146, 4152, 6660]"

Now that we've removed those legal entity items, lets also remove some extraneous symbols

In [4]:
symbollist=pd.read_csv(os.path.join(currentDir,'keyFiles/fdaCustomSymbols.csv'),quotechar="'",header=None)

symbollist.head(10)

         0
0  [ \t]+$
1   ^[ \t]
2    \A\s+
3    \s+\Z
4       /$
5        ,
6      \.$
7  [ \t]+$

In [5]:
Symboloutput, symbolEraseList=ossPyFuncs.eraseFromColumn(LEoutput['company'],symbollist)

symbolEraseList.head(10)

         0  changeNum                                      changeIndexes
0  [ \t]+$          6                   [25, 85, 1134, 5794, 5877, 6304]
1   ^[ \t]          1                                               [25]
2    \A\s+          0                                                 []
3    \s+\Z          0                                                 []
4       /$          0                                                 []
5        ,       2919  [30, 33, 38, 43, 44, 49, 50, 53, 55, 59, 70, 7...
6      \.$       2494  [29, 33, 44, 51, 52, 58, 59, 64, 67, 68, 71, 7...
7  [ \t]+$          8     [86, 1069, 1159, 3396, 3433, 3537, 5417, 5954]

Now that we've performed this cleaning we can get a sense of how close some of these strings are to one another using a fuzzy match algorithm

In [6]:
fuzzyMatchFrame=ossPyFuncs.iterativeFullFuzzyMatch(pd.DataFrame(Symboloutput))

fuzzyMatchFrame=fuzzyMatchFrame.sort_values(by='count',ascending=False)

fuzzyMatchFrame.head(40)

,company,count,guesses
0,Valu Merchandisers,8,"[Value Merchandisers, Valu Merchandiser, Valu ..."
2,Walgreens,7,"[Wallgreens, Walgreen's, Walgreen]"
1,Dr. Reddy's Laboratories,7,"[Dr.Reddy's Laboratories, Dr. Reddys Laborator..."
7,Target,6,[]
11,Great Lakes Wholesale Marketing and Sales,6,[]
9,Cardinal Health,6,"[.Cardinal Health, Cardinal Health 418, Cardin..."
8,Kroger,6,[Krogers]
10,Shopko Stores Operating,6,"[Shopko Stores Operating., Shopko Store Operat..."
6,Dolgencorp,6,"[Doldgecorp, DolegencorpLLC]"
5,Family Dollar Services,6,[Family Dollar Servicesm]
4,Wal-Mart Stores,6,"[†Wal-Mart Stores.†, Wal-Mart StoresInc, Walma..."
3,Rejoice International,6,"[Rece International, Ningbo Rejoice Internatio..."
21,Medimetriks Pharmaceuticals,5,"[Medicis Pharmaceutical, Xeris Pharmaceuticals..."
29,Hy-Vee,5,[HyVee]
28,Camber Pharmaceuticals,5,"[Camber Pharmaceutical, Cameron Pharmaceutical..."
27,Supervalu,5,"[Supervalue, Super valu, SuperValu]"
25,Preferred Pharmaceuticals,5,"[Preferreed Pharmaceuticals, Preferred Pharmac..."
24,Walgreen,5,"[Walgreens, Wallgreens, Walgreen's]"
23,Apotheca,5,[]
22,BioActive Nutritional,5,"[BioActive Nutritionals, BioActive Nutrional]"
26,Genomma Lab USA,5,"[Genomma Labs USA, Genoma Lab USA, Genomma Lab]"
20,Golden State Medical Supply,5,"[Golden State Medical Supply In.c, Tri State M..."
15,Dr.Reddy's Laboratories,5,"[Dr. Reddy's Laboratories, Dr.Reddys Laborator..."
19,Accord Healthcare,5,"[Accurate Healthcare, Aero Healthcare]"
13,Bob Barker,5,[]
14,Geiss Destin & Dunn,5,"[GeissDestine & Dunn, Geiss Destin + Dunn, Gei..."
12,Meijer Distribution,5,"[Meijers Distribution, Meijer Distributioin, M..."
16,Walmart,5,"[Walamart, WalMart, Wal-Mart]"
17,Publix Super Markets,5,"[Publix Supermarkets, lix Super Markets]"
18,Denison Pharmaceuticals,5,"[Denison Pharmaceurticals, Dendreon Pharmaceut..."
55,Salado Sales,4,[]
64,Chain Drug Consortium,4,"[Chain Drugs Consortium, Chain Drug Constortium]"
56,Deseret Biologicals,4,"[Desert Biologicals, Deseret Biologials, Deser..."
57,Harmon Stores,4,[Harmon Store]
58,Wilshire Pharmaceuticals,4,"[Fischer Pharmaceuticals, Altaire Pharmaceutic..."
59,Heritage Pharmaceuticals,4,"[Heritage Pharmaceuticals. d, Gericare Pharmac..."
60,New World Imports,4,[]
61,Greenbrier International,4,[]
62,Aldi,4,[]
63,Smith & Nephew Medical,4,[]

Having performed that fuzzy match overview we can also begin trying to assess the internal relations of the various unique entries in this data column

In [10]:
matrixOut=ossPyFuncs.createSubstringMatrix(pd.DataFrame(fuzzyMatchFrame['company']))

print(matrixOut.size)

6545

In [18]:
#establish the table columns
fuzzyMatchFrame['outdegree']=0
fuzzyMatchFrame['indegree']=0

#convert to manipulable format
#matrixOut=fuzzyMatchFrame.tocsr()

#iterate across nodes
for index, row in fuzzyMatchFrame.iterrows():
    
        #compute indegree and outdegree
        fuzzyMatchFrame['outdegree'].loc[index]=matrixOut[index,:].count_nonzero()
        fuzzyMatchFrame['indegree'].loc[index]=matrixOut[:,index].count_nonzero()

Lets view the high indegree nodes

In [19]:
fuzzyMatchFrame=fuzzyMatchFrame.sort_values(by='indegree',ascending=False)

fuzzyMatchFrame.head(40)

,company,count,guesses,outdegree,indegree
1141,Spectron mrc,1,[],1,7
1961,Richmond Oxygen,1,[],0,6
2366,MORGAN GALLACHER,1,[],0,6
1535,Highland Consumer Products,1,"[American Consumer Products, Revlon Consumer P...",0,5
1524,United Airlines,1,[],4,5
1379,Jefferson Labs,1,[],0,5
5110,Rouses Point Pharm,1,[],1,5
2840,OUTLIVING,1,[],0,5
3195,SKINFOOD.,1,[SKINFOOD.LTD],4,5
3679,Biocompatibles,1,[],0,5
4827,Chain Drug,1,[],3,4
3186,BioLyte Laboratories,1,"[Lyne Laboratories, Elite Laboratories, United...",1,4
5380,Beijing Zhangguang 101 Science and Technology,1,[],3,4
4578,Skinnies USA,1,[],3,4
1693,Rosedale Therapeutics,1,"[Asegua Therapeutics, Acorda Therapeutics]",1,4
5715,Cadila Pharmaceuticals,1,"[Kala Pharmaceuticals, Vanda Pharmaceuticals, ...",1,4
5672,NAOS,1,[],3,4
1928,Pan Aromas,1,[],0,4
3990,part344,1,"[part349, part348, part343]",6,4
2281,Dyscrasite 30 Special Order,1,[],6,4
1682,Viona Pharmaceuticals,1,"[Vista Pharmaceuticals, Vanda Pharmaceuticals,...",3,4
5795,Hankuk Bowonbio,1,[],0,4
389,Bayer Health Care,2,"[Bayer HealthCare, Bayer HealthCae, Bayer Hela...",1,4
1073,Baston Ind˙stria de AerossÛis Ltda,1,[Baston Industria de AerossÛis Ltda],1,4
794,Zen Enterprises,1,"[Lantern Enterprises, Prime Enterprises, Aztex...",3,4
4426,Healthfulô Naturals Mole Remover - 15 ml,1,[],0,4
3548,NSB.,1,[],3,4
2337,ParaPRO,1,[],1,4
5213,ZO Skin Health,1,[Sina Health],1,4
3862,TYCHASIS,1,[],1,4
2150,Prest-O-Sales & Service,1,[],2,3
4620,HF Acquisition HealthFirst,1,"[HF Acquisition. HealthFirst, HF Acquisition. ...",2,3
1860,Fastenal,1,[],1,3
5895,Elyptol,1,[],1,3
160,WinCo Foods,3,[Winco Foods],2,3
5907,NDA021018,1,"[NDA021918, NDA021017]",1,3
1545,NuCare PharmaceuitcalsInc,1,"[NuCare PharmaceuticalsInc, NuCare Pharmaceutu...",2,3
3289,CredoSano,1,[],2,3
4897,Advacare Home Services,1,[],2,3
4177,Certified Safety Manufacturing,1,[],1,3

And now the high outdegree nodes

In [20]:
fuzzyMatchFrame=fuzzyMatchFrame.sort_values(by='outdegree',ascending=False)

fuzzyMatchFrame.head(40)

,company,count,guesses,outdegree,indegree
4880,CBJ Development,1,[D3 Development],19,1
4387,Jakks Pacific,1,[],13,1
5567,TOAS.,1,[],12,1
741,Product Max Group,1,[],10,2
2668,Diversified Global Technologies,1,[],9,1
4523,TJA Health,1,[KT Health],9,1
5969,Strivectin Operating,1,[],8,1
2414,The Caldrea,1,[],8,1
4005,Dermazone Solutions,1,[DermaMed Solutions],7,1
1374,Church Dwight.,1,[Church & Dwight.],7,3
4462,Chattem,1,[],7,3
4734,AMERICAN CONSUMER PRODUCTS,1,[ASCENT CONSUMER PRODUCTS],7,1
2646,20190521,1,"[20190522, 20190520, 20190517]",7,1
2266,Superior Welding Supply,1,"[Metro Welding Supply, Victor Welding Supply, ...",7,1
3752,NARS Cosmetics,1,[US Cosmetics],7,3
1642,Functional Energetic,1,[],7,2
2472,ResiCal,1,[Resical],7,1
502,Midatech Pharma US,2,[],7,1
5225,lucasns,1,[],7,2
2281,Dyscrasite 30 Special Order,1,[],6,4
2200,Millennium Pharmaceuticals,1,"[Collegium Pharmaceutical, Allegis Pharmaceuti...",6,1
5499,MOTHER-K.LTD,1,[],6,1
1842,AIRGAS USA,1,[],6,1
924,Jani-Source,1,[],6,1
3990,part344,1,"[part349, part348, part343]",6,4
344,Tower Laboratories,2,"[Tec Laboratories, Isomers Laboratories, Speer...",5,1
2599,Medical Purchasin Solutions,1,[Medical Purchasing Solutions],5,2
3794,Valeant Pharmaceuticals,1,"[Vilvet Pharmaceuticals, Sagent Pharmaceutical...",5,2
5072,ALMA Laboratories,1,"[SDA Laboratories, JAR Laboratories, DLC Labor...",5,1
4985,iNANO.,1,[],5,2
753,Craig's Drug Store,1,[],5,1
2316,Sloan Valve,1,[],5,1
3304,DelCorean,1,[],5,1
1919,Oliver Landon Intl,1,[],5,1
5477,White Manufacturing. BDA Micro-West,1,"[White Manufacturing. Micro-West, White Manufa...",5,2
3380,B & J Welding Supply. B & J Welding Supply,1,[],5,2
3821,"Dentsply Professional Division trading ""Sultan...",1,"[Dentsply Professional Division Trading ""Sulta...",5,1
3245,Longbow first aid products manufactory,1,[],4,2
3612,Inland Supply.,1,[],4,1
1108,NorthStar Rx,1,"[Northstar Rx, Northstar RxLLC]",4,1

In [29]:
#matrixOut=matrixOut.todense()
currentVec=set(np.asarray(matrixOut[4880,:]).ravel())
mappedNames=fuzzyMatchFrame['company'].loc(currentVec)

TypeError: unhashable type: 'set'